<!DOCTYPE html>
<html>

  <head>
    <title>TileURL</title>
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/buttons.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/tileurl.css">
  </head>

  <body>
    {% include "navbar.html" %}

    {% if state["type"] == "new" %}
      <div class="tileurl-container">
        <div id="tileurl-left" class="tileurl tileurl-left">
          <div class="webpage">
            <iframe src=""></iframe>
          </div>
          <input type="text" class="url" placeholder="Enter URL here...">
          <img class="tileurl-loading" src="/img/loading.gif">
        </div>
        <div id="tileurl-right" class="tileurl tileurl-right">
          <div class="webpage">
            <iframe src=""></iframe>
          </div>
          <input type="text" class="url" placeholder="Enter URL here...">
          <img class="tileurl-loading" src="/img/loading.gif">
        </div>
      </div>
    {% elif state["type"] == "show" %}
      <div class="tileurl-container">
        <div id="tileurl-left" class="tileurl tileurl-left">
          <div class="webpage">
            <iframe src="{{ state['urls'][0] }}"></iframe>
          </div>
          <a class="url" href="{{ state['urls'][0] }}" readonly>{{ state['urls'][0] }}</a>
          <img class="tileurl-loading show" src="/img/loading.gif">
        </div>
        <div id="tileurl-right" class="tileurl tileurl-right">
          <div class="webpage">
            <iframe src="{{ state['urls'][1] }}"></iframe>
          </div>
          <a class="url" href="{{ state['urls'][1] }}" readonly>{{ state['urls'][1] }}</a>
          <img class="tileurl-loading show" src="/img/loading.gif">
        </div>
      </div>
    {% endif %}

    <script type="text/javascript" src="/lib/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/js/bootstrap.min.js"></script>
    {% if state["type"] == "new" %}
      <script type="text/javascript" src="/js/Tileurl.js"></script>
      <script type="text/javascript" src="/js/TileurlForm.js"></script>
      <script type="text/javascript" src="/js/main.js"></script>
    {% endif %}
  </body>

</html>
